<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salary.mapper.BillMapper">
    <resultMap id="BaseResultMap" type="com.salary.model.Bill">
        <id column="date" jdbcType="DATE" property="date"/>
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="item_id" jdbcType="INTEGER" property="itemId"/>
        <result column="money" jdbcType="INTEGER" property="money"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="map">
        delete
        from bill
        where date = #{date,jdbcType=DATE}
          and user_id = #{userId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.salary.model.Bill">
        insert into bill (date, user_id, item_id,
                          money)
        values (#{date,jdbcType=DATE}, #{userId,jdbcType=VARCHAR}, #{itemId,jdbcType=INTEGER},
                #{money,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.salary.model.Bill">
        update bill
        set item_id = #{itemId,jdbcType=INTEGER},
            money   = #{money,jdbcType=INTEGER}
        where date = #{date,jdbcType=DATE}
          and user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select date, user_id, item_id, money
        from bill
        where date = #{date,jdbcType=DATE}
          and user_id = #{userId,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select date, user_id, item_id, money
        from bill
    </select>
</mapper>