<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salary.mapper.ConfirmMapper">
    <resultMap id="BaseResultMap" type="com.salary.model.Confirm">
        <id column="date" jdbcType="DATE" property="date"/>
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="confirm_date" jdbcType="TIMESTAMP" property="confirmDate"/>
        <result column="confirm_flag" jdbcType="INTEGER" property="confirmFlag"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="map">
        delete
        from confirm
        where date = #{date,jdbcType=DATE}
          and user_id = #{userId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.salary.model.Confirm">
        insert into confirm (date, user_id, confirm_date,
                             confirm_flag)
        values (#{date,jdbcType=DATE}, #{userId,jdbcType=VARCHAR}, #{confirmDate,jdbcType=TIMESTAMP},
                #{confirmFlag,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.salary.model.Confirm">
        update confirm
        set confirm_date = #{confirmDate,jdbcType=TIMESTAMP},
            confirm_flag = #{confirmFlag,jdbcType=INTEGER}
        where date = #{date,jdbcType=DATE}
          and user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select date, user_id, confirm_date, confirm_flag
        from confirm
        where date = #{date,jdbcType=DATE}
          and user_id = #{userId,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select date, user_id, confirm_date, confirm_flag
        from confirm
    </select>
</mapper>