<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salary.mapper.ErrorRecMapper">
    <resultMap id="BaseResultMap" type="com.salary.model.ErrorRec">
        <id column="date" jdbcType="DATE" property="date"/>
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="error_id" jdbcType="INTEGER" property="errorId"/>
        <result column="before" jdbcType="DOUBLE" property="before"/>
        <result column="after" jdbcType="DOUBLE" property="after"/>
        <result column="check_time" jdbcType="TIME" property="checkTime"/>
        <result column="error_flag" jdbcType="INTEGER" property="errorFlag"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="map">
        delete
        from error_rec
        where date = #{date,jdbcType=DATE}
          and user_id = #{userId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.salary.model.ErrorRec">
        insert into error_rec (date, user_id, error_id,
                               `before`, after, check_time,
                               error_flag)
        values (#{date,jdbcType=DATE}, #{userId,jdbcType=VARCHAR}, #{errorId,jdbcType=INTEGER},
                #{before,jdbcType=DOUBLE}, #{after,jdbcType=DOUBLE}, #{checkTime,jdbcType=TIME},
                #{errorFlag,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.salary.model.ErrorRec">
        update error_rec
        set error_id   = #{errorId,jdbcType=INTEGER},
            `before`     = #{before,jdbcType=DOUBLE},
            after      = #{after,jdbcType=DOUBLE},
            check_time = #{checkTime,jdbcType=TIME},
            error_flag = #{errorFlag,jdbcType=INTEGER}
        where date = #{date,jdbcType=DATE}
          and user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select date, user_id, error_id, `before`, after, check_time, error_flag
        from error_rec
        where date = #{date,jdbcType=DATE}
          and user_id = #{userId,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select date, user_id, error_id, `before`, after, check_time, error_flag
        from error_rec
    </select>
</mapper>