<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salary.mapper.UserMapper">
    <sql id="IF">
        <if test="departId != null">
            depart_id = #{departId,jdbcType=VARCHAR},
        </if>
        <if test="position != null">
            position = #{position,jdbcType=VARCHAR},
        </if>
        <if test="name != null">
            name = #{name,jdbcType=VARCHAR},
        </if>
        <if test="age != null">
            age = #{age,jdbcType=VARCHAR},
        </if>
        <if test="idCard != null">
            id_card = #{idCard,jdbcType=VARCHAR},
        </if>
        <if test="email != null">
            email = #{email,jdbcType=VARCHAR},
        </if>
        <if test="phone != null">
            phone = #{phone,jdbcType=CHAR},
        </if>
        <if test="psd != null">
            psd = #{psd,jdbcType=VARCHAR},
        </if>
        <if test="workYear != null">
            work_year = #{workYear,jdbcType=INTEGER},
        </if>
        <if test="userFlag != null">
            user_flag = #{userFlag,jdbcType=INTEGER},
        </if>
        <if test="gender != null">
            gender = #{gender,jdbcType=CHAR}
        </if>
    </sql>
    <resultMap id="BaseResultMap" type="com.salary.model.User">
        <id column="uid" jdbcType="VARCHAR" property="id"/>
        <result column="did" property="departId"/>
        <result column="depart_id" jdbcType="VARCHAR" property="departId"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
        <result column="uname" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="VARCHAR" property="age"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
        <result column="psd" jdbcType="VARCHAR" property="psd"/>
        <result column="work_year" jdbcType="INTEGER" property="workYear"/>
        <result column="user_flag" jdbcType="INTEGER" property="userFlag"/>
        <result column="gender" jdbcType="CHAR" property="gender"/>
        <!--部门-->
        <association property="department" javaType="department">
            <id column="did" property="id"/>
            <result column="depart_name" property="departName"/>
        </association>
        <!--角色列表-->
        <collection property="authorities" ofType="Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="nameZh"/>
        </collection>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from user
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.salary.model.User">
        insert into user (id, depart_id, position, name, age, id_card,
                          email, phone, psd, work_year,
                          user_flag, gender)
        values (#{id,jdbcType=VARCHAR}, #{departId,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR},
                #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{idCard,jdbcType=VARCHAR},
                #{email,jdbcType=VARCHAR}, #{phone,jdbcType=CHAR}, #{psd,jdbcType=VARCHAR},
                #{workYear,jdbcType=INTEGER},
                #{userFlag,jdbcType=INTEGER}, #{gender,jdbcType=CHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.salary.model.User">
        update user
        <trim prefix="set" suffixOverrides=",">
            <include refid="IF"/>
        </trim>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select u.id     uid,
               d.id     did,
               depart_name,
               r.id     rid,
               r.name   rname,
               r.nameZh rnameZh,
               position,
               u.name   uname,
               age,
               id_card,
               email,
               phone,
               psd,
               work_year,
               user_flag,
               gender
        from user u,
             department d,
             user_role ur,
             role r
        where u.id = #{id,jdbcType=VARCHAR}
          and u.depart_id = d.id
          and u.id = ur.user_id
          and ur.role_id = r.id
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select u.id     uid,
               d.id     did,
               depart_name,
               r.id     rid,
               r.name   rname,
               r.nameZh rnameZh,
               position,
               u.name   uname,
               age,
               id_card,
               email,
               phone,
               psd,
               work_year,
               user_flag,
               gender
        from user u,
             department d,
             user_role ur,
             role r
        where u.depart_id = d.id
          and u.id = ur.user_id
          and ur.role_id = r.id
    </select>
</mapper>